{% comment %}
  Renders a review card
  
  Accepts:
  - review: {Object} Review block object
  - star_color: {String} Color for stars
  
  Usage:
  {% render 'maison-review-card', review: review, star_color: '#2E432F' %}
{% endcomment %}

<div class="maison-review-card-content-main">
    {% if review.settings.rating > 0 %}
    <div class="maison_review_card__stars">
        {% assign full_stars = review.settings.rating | floor %}
        {% assign has_half_star = review.settings.rating | minus: full_stars | times: 10 %}
        {% assign next_star = full_stars | plus: 1 %}
        {% for i in (1..5) %}
        {% if i <= full_stars %}
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path d="M9.60417 1.91274C9.64069 1.83895 9.6971 1.77685 9.76705 1.73342C9.83699 1.69 9.91768 1.66699 10 1.66699C10.0823 1.66699 10.163 1.69 10.233 1.73342C10.3029 1.77685 10.3593 1.83895 10.3958 1.91274L12.3208 5.8119C12.4476 6.06854 12.6348 6.29058 12.8664 6.45895C13.0979 6.62732 13.3668 6.737 13.65 6.77857L17.955 7.40857C18.0366 7.42039 18.1132 7.4548 18.1762 7.5079C18.2393 7.56101 18.2862 7.63069 18.3117 7.70908C18.3372 7.78746 18.3402 7.87141 18.3205 7.95143C18.3008 8.03146 18.259 8.10436 18.2 8.1619L15.0867 11.1936C14.8813 11.3937 14.7277 11.6406 14.639 11.9133C14.5503 12.1859 14.5292 12.476 14.5775 12.7586L15.3125 17.0419C15.3269 17.1234 15.3181 17.2074 15.2871 17.2841C15.2561 17.3609 15.2041 17.4274 15.1371 17.4761C15.0701 17.5247 14.9908 17.5536 14.9082 17.5593C14.8256 17.5651 14.7431 17.5475 14.67 17.5086L10.8217 15.4852C10.5681 15.3521 10.286 15.2825 9.99959 15.2825C9.71319 15.2825 9.43107 15.3521 9.1775 15.4852L5.33 17.5086C5.25694 17.5472 5.1745 17.5646 5.09204 17.5588C5.00959 17.5529 4.93043 17.524 4.86358 17.4754C4.79673 17.4268 4.74486 17.3604 4.71388 17.2838C4.6829 17.2071 4.67405 17.1233 4.68834 17.0419L5.4225 12.7594C5.471 12.4767 5.44999 12.1864 5.36128 11.9136C5.27258 11.6408 5.11884 11.3937 4.91334 11.1936L1.8 8.16274C1.7405 8.10526 1.69833 8.03223 1.6783 7.95197C1.65828 7.8717 1.6612 7.78742 1.68673 7.70873C1.71227 7.63004 1.75939 7.5601 1.82273 7.50689C1.88607 7.45367 1.96309 7.41932 2.045 7.40774L6.34917 6.77857C6.63272 6.73732 6.90199 6.62778 7.13382 6.45939C7.36565 6.291 7.55309 6.0688 7.68 5.8119L9.60417 1.91274Z" fill="#2E432F"/>
            </svg>
        {% elsif has_half_star >= 5 and i == next_star %}
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <defs>
                    <linearGradient id="half-star-card-{{ block.id }}-{{ i }}">
                    <stop offset="50%" stop-color="#2E432F"/>
                    <stop offset="50%" stop-color="#E0E0E0"/>
                    </linearGradient>
                </defs>
                <path d="M9.60417 1.91274C9.64069 1.83895 9.6971 1.77685 9.76705 1.73342C9.83699 1.69 9.91768 1.66699 10 1.66699C10.0823 1.66699 10.163 1.69 10.233 1.73342C10.3029 1.77685 10.3593 1.83895 10.3958 1.91274L12.3208 5.8119C12.4476 6.06854 12.6348 6.29058 12.8664 6.45895C13.0979 6.62732 13.3668 6.737 13.65 6.77857L17.955 7.40857C18.0366 7.42039 18.1132 7.4548 18.1762 7.5079C18.2393 7.56101 18.2862 7.63069 18.3117 7.70908C18.3372 7.78746 18.3402 7.87141 18.3205 7.95143C18.3008 8.03146 18.259 8.10436 18.2 8.1619L15.0867 11.1936C14.8813 11.3937 14.7277 11.6406 14.639 11.9133C14.5503 12.1859 14.5292 12.476 14.5775 12.7586L15.3125 17.0419C15.3269 17.1234 15.3181 17.2074 15.2871 17.2841C15.2561 17.3609 15.2041 17.4274 15.1371 17.4761C15.0701 17.5247 14.9908 17.5536 14.9082 17.5593C14.8256 17.5651 14.7431 17.5475 14.67 17.5086L10.8217 15.4852C10.5681 15.3521 10.286 15.2825 9.99959 15.2825C9.71319 15.2825 9.43107 15.3521 9.1775 15.4852L5.33 17.5086C5.25694 17.5472 5.1745 17.5646 5.09204 17.5588C5.00959 17.5529 4.93043 17.524 4.86358 17.4754C4.79673 17.4268 4.74486 17.3604 4.71388 17.2838C4.6829 17.2071 4.67405 17.1233 4.68834 17.0419L5.4225 12.7594C5.471 12.4767 5.44999 12.1864 5.36128 11.9136C5.27258 11.6408 5.11884 11.3937 4.91334 11.1936L1.8 8.16274C1.7405 8.10526 1.69833 8.03223 1.6783 7.95197C1.65828 7.8717 1.6612 7.78742 1.68673 7.70873C1.71227 7.63004 1.75939 7.5601 1.82273 7.50689C1.88607 7.45367 1.96309 7.41932 2.045 7.40774L6.34917 6.77857C6.63272 6.73732 6.90199 6.62778 7.13382 6.45939C7.36565 6.291 7.55309 6.0688 7.68 5.8119L9.60417 1.91274Z" fill="url(#half-star-card-{{ block.id }}-{{ i }})"/>
            </svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path d="M9.60417 1.91274C9.64069 1.83895 9.6971 1.77685 9.76705 1.73342C9.83699 1.69 9.91768 1.66699 10 1.66699C10.0823 1.66699 10.163 1.69 10.233 1.73342C10.3029 1.77685 10.3593 1.83895 10.3958 1.91274L12.3208 5.8119C12.4476 6.06854 12.6348 6.29058 12.8664 6.45895C13.0979 6.62732 13.3668 6.737 13.65 6.77857L17.955 7.40857C18.0366 7.42039 18.1132 7.4548 18.1762 7.5079C18.2393 7.56101 18.2862 7.63069 18.3117 7.70908C18.3372 7.78746 18.3402 7.87141 18.3205 7.95143C18.3008 8.03146 18.259 8.10436 18.2 8.1619L15.0867 11.1936C14.8813 11.3937 14.7277 11.6406 14.639 11.9133C14.5503 12.1859 14.5292 12.476 14.5775 12.7586L15.3125 17.0419C15.3269 17.1234 15.3181 17.2074 15.2871 17.2841C15.2561 17.3609 15.2041 17.4274 15.1371 17.4761C15.0701 17.5247 14.9908 17.5536 14.9082 17.5593C14.8256 17.5651 14.7431 17.5475 14.67 17.5086L10.8217 15.4852C10.5681 15.3521 10.286 15.2825 9.99959 15.2825C9.71319 15.2825 9.43107 15.3521 9.1775 15.4852L5.33 17.5086C5.25694 17.5472 5.1745 17.5646 5.09204 17.5588C5.00959 17.5529 4.93043 17.524 4.86358 17.4754C4.79673 17.4268 4.74486 17.3604 4.71388 17.2838C4.6829 17.2071 4.67405 17.1233 4.68834 17.0419L5.4225 12.7594C5.471 12.4767 5.44999 12.1864 5.36128 11.9136C5.27258 11.6408 5.11884 11.3937 4.91334 11.1936L1.8 8.16274C1.7405 8.10526 1.69833 8.03223 1.6783 7.95197C1.65828 7.8717 1.6612 7.78742 1.68673 7.70873C1.71227 7.63004 1.75939 7.5601 1.82273 7.50689C1.88607 7.45367 1.96309 7.41932 2.045 7.40774L6.34917 6.77857C6.63272 6.73732 6.90199 6.62778 7.13382 6.45939C7.36565 6.291 7.55309 6.0688 7.68 5.8119L9.60417 1.91274Z" fill="#E0E0E0"/>
            </svg>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if review.settings.purchase_date != blank %}
    <p class="maison_review_card__date">
        {{ review.settings.purchase_date }}
    </p>
    {% endif %}
</div>

{% if review.settings.review_text != blank %}
<div class="maison_review_card__text">
    {{ review.settings.review_text }}
</div>
{% endif %}

{% if review.settings.reviewer_name != blank %}
  <div class="maison_review_card__footer">
    <span class="maison_review_card__name">
      {{ review.settings.reviewer_name }}
    </span>
    <div class="maison_review_card__point"></div>
    {% if review.settings.verified_buyer %}
      <div class="maison_review_card__verified">
        <div class="maison_review_card__verified-dot">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <g clip-path="url(#clip0_8191_11765{{ block.id }})">
                <path d="M15.1466 6.89987L13.9199 5.9132C13.8216 5.83469 13.7453 5.73197 13.6985 5.61511C13.6518 5.49824 13.6362 5.37124 13.6533 5.24654L13.8199 3.68654C13.8431 3.47925 13.8194 3.26941 13.7506 3.0725C13.6819 2.87559 13.5698 2.69663 13.4226 2.54883C13.2754 2.40102 13.097 2.28814 12.9003 2.21852C12.7037 2.14889 12.494 2.12429 12.2866 2.14654L10.7199 2.3132C10.5952 2.3303 10.4682 2.31471 10.3514 2.26796C10.2345 2.22122 10.1318 2.14492 10.0533 2.04654L9.08661 0.839869C8.95144 0.68441 8.78449 0.559764 8.59702 0.474346C8.40956 0.388928 8.20595 0.344727 7.99995 0.344727C7.79394 0.344727 7.59033 0.388928 7.40287 0.474346C7.2154 0.559764 7.04845 0.68441 6.91328 0.839869L5.92661 2.06654C5.8481 2.16492 5.74538 2.24122 5.62852 2.28796C5.51165 2.33471 5.38465 2.3503 5.25995 2.3332L3.71328 2.16654C3.50589 2.14429 3.29616 2.16889 3.09955 2.23852C2.90294 2.30814 2.72447 2.42102 2.5773 2.56883C2.43014 2.71663 2.31804 2.89559 2.24926 3.0925C2.18049 3.28941 2.1568 3.49925 2.17995 3.70654L2.34661 5.26654C2.36371 5.39124 2.34812 5.51824 2.30137 5.63511C2.25463 5.75197 2.17833 5.85469 2.07995 5.9332L0.853279 6.89987C0.690594 7.03043 0.5593 7.19585 0.469084 7.38393C0.378867 7.57201 0.332031 7.77794 0.332031 7.98654C0.332031 8.19513 0.378867 8.40107 0.469084 8.58914C0.5593 8.77722 0.690594 8.94264 0.853279 9.0732L2.07995 10.0599C2.17782 10.1388 2.25375 10.2416 2.30045 10.3583C2.34715 10.4751 2.36305 10.6019 2.34661 10.7265L2.17995 12.2932C2.15684 12.5 2.18082 12.7094 2.25009 12.9057C2.31936 13.102 2.43212 13.28 2.57995 13.4265C2.72435 13.5773 2.90214 13.692 3.09899 13.7615C3.29584 13.8309 3.50625 13.8532 3.71328 13.8265L5.27995 13.6599C5.40465 13.6428 5.53165 13.6584 5.64852 13.7051C5.76538 13.7519 5.8681 13.8282 5.94661 13.9265L6.93328 15.1532C7.06384 15.3159 7.22926 15.4472 7.41734 15.5374C7.60542 15.6276 7.81135 15.6744 8.01995 15.6744C8.22854 15.6744 8.43448 15.6276 8.62255 15.5374C8.81063 15.4472 8.97605 15.3159 9.10661 15.1532L10.0933 13.9265C10.1718 13.8282 10.2745 13.7519 10.3914 13.7051C10.5082 13.6584 10.6352 13.6428 10.7599 13.6599L12.3266 13.8265C12.5336 13.8532 12.7441 13.8309 12.9409 13.7615C13.1378 13.692 13.3155 13.5773 13.4599 13.4265C13.6078 13.28 13.7205 13.102 13.7898 12.9057C13.8591 12.7094 13.8831 12.5 13.8599 12.2932L13.6933 10.7265C13.6768 10.6019 13.6927 10.4751 13.7394 10.3583C13.7861 10.2416 13.8621 10.1388 13.9599 10.0599L15.1866 9.0732C15.3493 8.94264 15.4806 8.77722 15.5708 8.58914C15.661 8.40107 15.7079 8.19513 15.7079 7.98654C15.7079 7.77794 15.661 7.57201 15.5708 7.38393C15.4806 7.19585 15.3493 7.03043 15.1866 6.89987H15.1466ZM8.26661 10.0332C8.16388 10.1669 8.03399 10.2773 7.88549 10.3572C7.73699 10.437 7.57325 10.4845 7.40507 10.4964C7.23689 10.5084 7.06808 10.4846 6.90977 10.4266C6.75146 10.3686 6.60724 10.2777 6.48661 10.1599L4.85995 8.5332C4.79779 8.47104 4.74848 8.39725 4.71484 8.31603C4.6812 8.23482 4.66388 8.14777 4.66388 8.05987C4.66388 7.88233 4.73441 7.71207 4.85995 7.58654C4.98548 7.461 5.15574 7.39047 5.33328 7.39047C5.51081 7.39047 5.68108 7.461 5.80661 7.58654L7.33328 9.08654L9.93995 5.6132C10.046 5.47175 10.204 5.37824 10.379 5.35324C10.554 5.32823 10.7318 5.37378 10.8733 5.47987C11.0147 5.58596 11.1082 5.74389 11.1332 5.91892C11.1583 6.09396 11.1127 6.27175 11.0066 6.4132L8.26661 10.0332Z" fill="#301A0E"/>
            </g>
            <defs>
                <clipPath id="clip0_8191_11765{{ block.id }}">
                <rect width="16" height="16" fill="white"/>
                </clipPath>
            </defs>
          </svg>
        </div>
        <span>Verified Buyer</span>
      </div>
    {% endif %}
  </div>
{% endif %}

<style>
  .maison_review_card__stars {
    display: flex;
    gap: 0px;
    align-items: center;
  }

  .maison-review-card-content-main{
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
  }

  .maison_review_card__date {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #3A3631;
    margin: 0;
  }

  .maison_review_card__text {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(58, 54, 49, 0.75);
    text-align: center;
    margin: 0;
  }

  .maison_review_card__text p {
    margin: 0;
  }

  @media (max-width: 950px) {
    .maison_review_card__text {
        font-size: 14px;
    }
  }

  .maison_review_card__point{
    display: flex!important;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    opacity: 0.2;
    background: #3C1C13;
  }

  .maison_review_card__footer {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    flex-wrap: wrap;
    border-radius: 56px;
    background: var(--Color-Brand-2-400, #ECFEE9);
  }

  @media (max-width: 950px) {
    .maison_review_card__footer {
        margin-top: 4px;
    }
  }

  .maison_review_card__name {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    color: #3A3631;
  }

  .maison_review_card__verified {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .maison_review_card__verified-dot {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .maison_review_card__verified-dot svg {
    width: 10px;
    height: 10px;
  }

  .maison_review_card__verified span {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    color: #3A3631;
  }
</style>

